
body {
  color: $color-white;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: -1;
  box-sizing: border-box;
  transform: matrix(1, 0, 0, 1, 0, 0);
  overflow: hidden;
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  max-width: none;
  object-fit: cover;
}

.video-bg {
  position: absolute;

  top: 0;
  left: 0;
}

main {
  max-width: 494px;
  min-width: 300px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: calc((100vh - 626px) /2) 0;
}

h1,
h2,
p,
label,
input {
  font-family: $font-family;
}

h1 {
  font-weight:400;
  margin: 0;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 16px;
}

h2 {
  text-align: center;
  margin: 0 0 28px;
  font-weight:200;
  letter-spacing: 3px;
  font-size: 24px;

  .divider:after {
    content: '|';
    display: inline;
  }
}

section {
  width: calc(100% - 60px);
  max-width: 395px;
  border: 3px solid;
  padding: 35px 46px;
}

p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 42px 0 26px;
  font-weight: 200;
}

a {
  text-decoration: none;

  &:hover {
    color: $color-white;
  }
}

form {
  width: 100%;
  position: relative;
  display: inline-block;

  label {
    .placeholder {
      position: absolute;
      left: 17px;
      transition: all .2s;
      font-size: 14px;
      top: 11px;
      letter-spacing: 2px;
    }
  }

  .error-msg {
    font-size: 9px;
    width: 62%;
    text-align: right;
    display: none;
    position: absolute;
    top: 50px;
  }

  &.err {
    .error-msg {
      display: block;
    }
  }

}

input {
  &[type='submit'] {
    font-size: $input-font-size;
    background-color: $color-white;
    float: right;
    height: 41px;
    line-height: 41px;
    width: 28%;
    border: 0;
    cursor: pointer;
    letter-spacing: 4px;
    transition: all .2s;
    border-radius: 0;
    @include clear-appearnce();
  }

  &[type='email'] {
    font-size: $input-font-size;
    border-radius: 0;
    border-color: $color-white;
    color: $color-white;
    float: left;
    width: calc(68% - 34px);
    background: transparent;
    height: 37px;
    line-height: 37px;
    padding: 0 17px;
    outline: none;
    border-width: 2px;
    letter-spacing: 1px;

    &:focus {
      border-color: $color-white;
    }
  }
}

.email:focus {

  ~ .placeholder {
    top: 50px;
    left: 0;
    font-size: 14px;
  }
}

.submit {
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($color-white, .5);
  }
}

.external-links {
  width: calc(100% - 100px);
  padding: 0 50px;
  position: relative;
  padding-top: 70px;
  text-decoration: none;
  letter-spacing: 4px;
  display: inline-block;

  * {
    float: left;
    margin: 0 8px;
    color: $color-white;
  }

  i {
    width: 18px;
    height: 16px;
    background: image-url('lp-social-icons.png');

    &.fb {
      background-position: 0 16px;
    }

    &.twitter {
      background-position: 0 0;
    }
  }

  .divider:after {
    content: '-';
    width: 20px;
    height: 40px;


  }
}

@media (max-width: 480px) {

  main {
    padding: calc((100vh - 464px) /2) 0 0;
    width: 275px;
    min-width: 275px;
  }

  h2 {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 2px;

    .divider:after {
      content: '-';
    }
  }

  section {
    padding: 15px 33px 15px 21px;
  }

  h1 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 12px;
  }

  p {
    font-size: 14px;
    text-align: left;
    margin: 40px 0 0;
    letter-spacing: 2px;
  }

  form {
    top: 30px;

    .error-msg {
      top: -15px;
      right: 0;
    }
  }

  .email:focus {
    outline: none;

    ~ .placeholder {
      top: -20px;
    }

  }


  input {
    &[type='submit'] {
      width: 18%;
      font-size: 14px;
      letter-spacing: 2px;
    }

    &[type='email'] {
      width: calc(78% - 34px);
    } 
  }

  .external-links {
    width: 90%;
    padding: 31px 0 0;
    top: 25px;
    left: 5%;  

    .divider:after {
      content: '|';
    }

    * {
      margin: 0 2px;
      letter-spacing: 2px;
      line-height: 16px;
      overflow: hidden;
    }

    .divider:nth-child(2) {
       margin: 0 3px;       
    }

    i.fb {
      background-position: 15px 16px;
      width: 14px;
      margin: 0;
    }
  }
}
