// ======================================================================
// =| Config |===========================================================
// ======================================================================
$size-factor: 10px;
$state-factor: 10%;

// Colors Palette
// ----------------------------------------------------------------------

$color-white: #ffffff;


// Font
// ----------------------------------------------------------------------
$font-family: Futura-pt, Arial;


//LP
//-----------------------------------------------------------------------

$input-font-size: 15px;

